<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>http://localhost:52750/wsExtraHit.asmx</MSDeployServiceURL>
    <DeployIisAppPath>WShitEX</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName>Portal01</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="apexConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=172.16.0.32;Initial Catalog=apex;User ID=Portal01;Password=Abcd.1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.0.32;Initial Catalog=apex;User ID=Portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\apexConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.0.32;Initial Catalog=apex;User ID=Portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="manifiestodbConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\manifiestodbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PortalHITConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.0.42;Initial Catalog=PortalHIT;User ID=portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PortalHITConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.0.42;Initial Catalog=PortalHIT;User ID=portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="billingConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.0.42;Initial Catalog=billing;User ID=portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\billingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.0.42;Initial Catalog=billing;User ID=portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ExtranetUsersConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.40.2.14;Initial Catalog=ExtranetUsers;Persist Security Info=True;User ID=Portal01;Password=Abcd.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExtranetUsersConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.40.2.14;Initial Catalog=ExtranetUsers;Persist Security Info=True;User ID=Portal01;Password=Abcd.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)apexConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=172.16.0.32;Initial Catalog=apex;User ID=Portal01;Password=Abcd.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)billingConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=172.16.0.42;Initial Catalog=manifiestodb;User ID=Portal01;Password=Abcd.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)manifiestodbConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PortalHITConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>