/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

table, td{
	font:90% Arial, Helvetica, sans-serif; 
}
table{width:80%;border-collapse:collapse;margin:1em 0;}
th, td{text-align:left;padding:.5em;border:1px solid #fff;}
th{background:#dbdbdb url(tr_back.gif) repeat-x;color:#001158; font: 80% Arial, Helvetica, sans-serif; font-weight:bold;}
td{background:#e5f1f4;}

/* tablecloth styles */

tr.even td{background:#b6d4fb;}
tr.odd td{background:#f2f2f2;}

th.over, tr.even th.over, tr.odd th.over{background:#ccd7e5;}
th.down, tr.even th.down, tr.odd th.down{background:#ccd7e5;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#e0edff;}
td.down, tr.even td.down, tr.odd td.down{background:#ccd7e5;color:#666666;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#ccd7e5;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}